page-home {

  .bg-imagem{
    background-image: url('../assets/imgs/background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .nome{
    text-align: center;
    font-size: 110%;
    font-weight:bold;
    margin-top: 25%;
  }

  .bg-menu{
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-shadow: 3px 2px #8B8B83;
    ;
  }

  .avatar img{
    border-radius: 50%;
    width: 200px;
    margin-left: 35px;
    }

  .avatar1{
      margin-left: 40%;
      margin-top: 2%;
      margin-bottom: 2%;
      }

}

